.float-label {
  position: relative;
  margin-bottom: 12px;
}

.label {
  font-size: 12px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 12px;
  top: 10px;
  transition: 0.2s ease all;
}

.label-float {
  top: -8px;
  font-size: 10px;
  background-color: white;
}

.ant-input-affix-wrapper {
  z-index: 0 !important;
}