<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doccure.BE.mapper.SlotMapper">
  <resultMap id="BaseResultMap" type="com.doccure.BE.model.Slot">
    <id column="SLOT_ID" jdbcType="NUMERIC" property="slotId" />
    <result column="START_DATETIME" jdbcType="TIMESTAMP" property="startDatetime" />
    <result column="END_DATETIME" jdbcType="TIMESTAMP" property="endDatetime" />
    <result column="DOCTOR_ID" jdbcType="NUMERIC" property="doctorId" />
    <result column="PRICE" jdbcType="NUMERIC" property="price" />
  </resultMap>
 
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    SLOT_ID, START_DATETIME, END_DATETIME, DOCTOR_ID, PRICE
  </sql>
  <select id="selectByExample" parameterType="com.doccure.BE.model.SlotExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SLOT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SLOT
    where SLOT_ID = #{slotId,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from SLOT
    where SLOT_ID = #{slotId,jdbcType=NUMERIC}
  </delete>
  <delete id="deleteByExample" parameterType="com.doccure.BE.model.SlotExample">
    delete from SLOT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.doccure.BE.model.Slot">
    insert into SLOT (SLOT_ID, START_DATETIME, END_DATETIME, 
      DOCTOR_ID, PRICE)
    values (#{slotId,jdbcType=NUMERIC}, #{startDatetime,jdbcType=TIMESTAMP}, #{endDatetime,jdbcType=TIMESTAMP}, 
      #{doctorId,jdbcType=NUMERIC}, #{price,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="com.doccure.BE.model.Slot">
    insert into SLOT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="slotId != null">
        SLOT_ID,
      </if>
      <if test="startDatetime != null">
        START_DATETIME,
      </if>
      <if test="endDatetime != null">
        END_DATETIME,
      </if>
      <if test="doctorId != null">
        DOCTOR_ID,
      </if>
      <if test="price != null">
        PRICE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="slotId != null">
        #{slotId,jdbcType=NUMERIC},
      </if>
      <if test="startDatetime != null">
        #{startDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="endDatetime != null">
        #{endDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="doctorId != null">
        #{doctorId,jdbcType=NUMERIC},
      </if>
      <if test="price != null">
        #{price,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.doccure.BE.model.SlotExample" resultType="java.lang.Long">
    select count(*) from SLOT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SLOT
    <set>
      <if test="row.slotId != null">
        SLOT_ID = #{row.slotId,jdbcType=NUMERIC},
      </if>
      <if test="row.startDatetime != null">
        START_DATETIME = #{row.startDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.endDatetime != null">
        END_DATETIME = #{row.endDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.doctorId != null">
        DOCTOR_ID = #{row.doctorId,jdbcType=NUMERIC},
      </if>
      <if test="row.price != null">
        PRICE = #{row.price,jdbcType=NUMERIC},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SLOT
    set SLOT_ID = #{row.slotId,jdbcType=NUMERIC},
      START_DATETIME = #{row.startDatetime,jdbcType=TIMESTAMP},
      END_DATETIME = #{row.endDatetime,jdbcType=TIMESTAMP},
      DOCTOR_ID = #{row.doctorId,jdbcType=NUMERIC},
      PRICE = #{row.price,jdbcType=NUMERIC}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.doccure.BE.model.Slot">
    update SLOT
    <set>
      <if test="startDatetime != null">
        START_DATETIME = #{startDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="endDatetime != null">
        END_DATETIME = #{endDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="doctorId != null">
        DOCTOR_ID = #{doctorId,jdbcType=NUMERIC},
      </if>
      <if test="price != null">
        PRICE = #{price,jdbcType=NUMERIC},
      </if>
    </set>
    where SLOT_ID = #{slotId,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.doccure.BE.model.Slot">
    update SLOT
    set START_DATETIME = #{startDatetime,jdbcType=TIMESTAMP},
      END_DATETIME = #{endDatetime,jdbcType=TIMESTAMP},
      DOCTOR_ID = #{doctorId,jdbcType=NUMERIC},
      PRICE = #{price,jdbcType=NUMERIC}
    where SLOT_ID = #{slotId,jdbcType=NUMERIC}
  </update>
  
  <!-- SLOT PRICE MAX AND MIN  -->
   <resultMap id="BaseResultMapPrice" type="com.doccure.BE.model.SlotPrice">
   <result column="DOCTOR_ID" jdbcType="NUMERIC" property="doctorId" />
    <result column="MAX_PRICE" jdbcType="NUMERIC" property="maxPrice" />
    <result column="MIN_PRICE" jdbcType="NUMERIC" property="minPrice" />
  </resultMap>

  <select id="getMaxMinPriceByDoctorId" parameterType="java.lang.Long" resultMap="BaseResultMapPrice">
  SELECT 
    MAX(PRICE) AS max_price,
    MIN(PRICE) AS min_price
  FROM 
    SLOT
  WHERE DOCTOR_ID =  #{doctorId,jdbcType=NUMERIC}
  </select>
</mapper>